<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>

		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>

		<!-- Step1.Add File appender to print in file -->
		<File name="MyFile" fileName="Assignment9_Logs/Assignment9_Logs.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>

	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="MyFile" />  <!-- Step2.Add Appender Reference -->
		</Root>
	</Loggers>

</Configuration>
